//
.main__article {
  background: url(../../assets/img/dungeon.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.main__article-title {
  text-transform: uppercase;
  font-size: calc(var(--index) * 1.7);
  letter-spacing: calc(var(--index) / 7);
  transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
  will-change: transform;
  transition: var(--transition);
}
.main__article-subtitle {
  max-width: calc(var(--index) * 30);
  font-size: calc(var(--index) * 0.8);
  margin-top: calc(var(--index) / 1.25);
  transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
  will-change: transform;
  transition: var(--transition);
}
.copy {
  position: absolute;
  bottom: calc(var(--index) * 2);
  opacity: 0.5;
  font-size: calc(var(--index) * 0.75);
  letter-spacing: calc(var(--index) / 35);
}
